@font-face {
  font-family: "Yekan";
  src: url("../fonts/Yekan.woff") format("woff"),
    url("../fonts/Yekan.ttf") format("truetype");
}
body {
  font-family: "Yekan", sans-serif;
  margin: 0;
  padding: 0;
  background: #222831;
  color: #eeeeee;
  direction: rtl;
}
header {
  background: #222831;
  color: #eeeeee;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
header nav a {
  color: #eeeeee;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.9;
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}
nav a:hover {
  opacity: 1.1;
  text-shadow: 0px 1px 6px #ffd369;
}
.hero {
  background: #ffd369;
  color: #393e46;
  text-align: center;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
    width: fit-content;
  font-size: 2.5rem;
  margin-bottom: 50px;
  opacity: 0.9;
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}
.hero button {
  background: #393e46;
  color: #ffd369;
  border: none;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
}
.hero h1:hover {
  opacity: 1.1;
  text-shadow: 20px 20px 5px #393e46;
}
.hero button:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}
.skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  background: #eeeeee;
}
.skill-item {
  text-align: center;
  color: #222831;
}
.skill-item span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.portfolio {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-card {
  max-width: 300px;
  width: 100%;
  background: #eeeeee;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(34, 40, 49, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(34, 40, 49, 0.15);
}
.project-card a {
  text-decoration: none;
  color: #222831;
}
.project-card a:visited {
  text-decoration: none;
  color: #222831;
}
footer {
  background: #222831;
  color: #eeeeee;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
}
footer a {
  color: #ffd369;
  margin: 0 10px;
  text-decoration: none;
}
